<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
<br>
Leave url blank to submit a question for discussion. The Title text will appear at the top of the thread.
<br>
<%= f.input :url, as: :url, label: false, placeholder: "Website URL" %>
<%= f.input :content, as: :text, label: false, placeholder: "Post Description" %>
<%= f.input :twitter, as: :text, label: false, placeholder: "Twitter Username" %>
  <div>
</div>

  <%= f.button :submit %>
<% end %>
